div ::deep textarea {
  width: 100%;
  display: block;
  border: none;
  background-color: #1c1c1c;
  resize: none;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}
div ::deep textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
div ::deep textarea:active, div ::deep textarea:focus {
  outline: none;
}
