<div>
    <textarea value="@NoteManager.SelectedNote?.Content"
              @onfocusout="async () => await StorageProvider.SaveNoteAsync(NoteManager.SelectedNote!)"
              @ref="areaRef" />
</div>

@code {
    [Inject] public required IJSRuntime JS { get; set; }
    [Inject] public required NotificationService Notification { get; set; }
    [Inject] public required IStorageProvider StorageProvider { get; set; }
    [Inject] public required INoteManager NoteManager { get; set; }

    ElementReference areaRef;
    IJSObjectReference? module;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import",
                "./_content/MauimdApp.Shared/Components/Pages/Main/Body/NoteContent/NoteContent.razor.js");

            var componentRef = DotNetObjectReference.Create(this);

            await module.InvokeVoidAsync("subscribeToOnInput", componentRef, areaRef);
        }
    }

    [JSInvokable]
    public void OnInput(string newValue)
        => NoteManager.SelectedNote!.Content = newValue;

}